input { 
  margin-left: 400px;
}

#gamesBox { 
  margin-top: 3em;
  margin-left: 250px;
  width: 600px;
  list-style-type: none;
  line-height: 2em;
}

.game-box-image {
  height: 250px;
}

.vg-thumbnail { 
  margin-left: 2em;
  margin-bottom: 3em;
}

.btn-success {
  margin-left: 1em;
}
