<html>
  <head>
    <title>View Tests</title>
    <link rel = "stylesheet" href = "vendor/css/mocha.css" />

    <script src = "vendor/js/underscore.js"></script>
    <script src = "vendor/js/mocha.js"></script>
    <script src = "vendor/js/sinon-1.12.2.js"></script>
    <script src = "vendor/js/chai.js"></script>

  </head>
  <body>
    <div id = "mocha"></div>
    <div id = "testArea">
    </div>
    <script type = "text/template" id = "gameTemplate">
  <li><%= name %><img src = "<%= image_url %>"></li>
    </script>

    <script>
      mocha.setup('bdd');
      var expect = chai.expect;
    </script>
    <script src = "../../public/js/search_view.js"></script>
    <script src = "search_view_tests.js"></script>
    <script>
      if (window.mochaPhantomJS) { mochaPhantomJS.run(); }
      else { mocha.run(); }
    </script>
  </body>
</html>
