<html>
  <head>
    <title>View Tests</title>
    <link rel = "stylesheet" href = "vendor/stylesheets/mocha.css" />

    <script src = "vendor/javascripts/underscore.js"></script>
    <script src = "vendor/javascripts/mocha.js"></script>
    <script src = "vendor/javascripts/sinon-1.12.2.js"></script>
    <script src = "vendor/javascripts/chai.js"></script>

  </head>
  <body>
    <div id = "mocha"></div>
    <div id = "testArea">
    </div>
    <script type = "text/template" id = "gameTemplate">
  <li><%= name %><img src = "<%= image_url %>"></li>
    </script>

    <script>
      mocha.setup('bdd');
      var expect = chai.expect;
    </script>
    <script src = "../../public/scripts/search_view.js"></script>
    <script src = "search_view_tests.js"></script>
    <script>
      mocha.run();
    </script>
  </body>
</html>
